
	@font-face {
	  font-family: 'Icons';
	  src: url("../../fonts/icons.eot");
	  src: url("../../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../../fonts/icons.woff") format("woff"), url("../../fonts/icons.ttf") format("truetype"), url("../../fonts/icons.svg#icons") format("svg");
	  font-weight: normal;
	  font-style: normal; 
	}

	body {
	  padding-bottom: 20px;
	}

	body.full { background:#f0f0f0; }
		body.full .navbar { background:#fff; border-bottom:1px solid #ccc; }
	
		body.full #content { padding:10px; box-sizing:border-box; position:absolute; left:0; top:52px; right:0; bottom:0; }

	.header {
	}

		.header h3 {
	      color:#000;
		  margin-top: 0;
		  margin-bottom: 0;
		  line-height: 40px;
		  padding-bottom: 10px;

		  border-bottom:1px solid #eee;
		}

	#footer { border-top:1px solid #eee; margin-top:30px; padding-top:30px; padding-bottom:30px; }
		#footer ul { list-style:none; font-size:12px; padding:0; margin:0; }
			#footer ul li { color:#999; display:inline-block; margin-right:10px; }
			#footer ul li a { color:#333; }


	
	/* icons */
	.draft_icon { line-height: 14px; padding: 10px 5px 10px 0px; display: inline-block; color: #aaa9a2; text-decoration: none; }
	.draft_icon:before { font-family: "Icons";
							font-weight: normal;
							font-style: normal;
							vertical-align: -7%;
							text-transform: none;
							speak: none;
							line-height: 1;
							content: "\e02c";
							font-size: 14px;
							-webkit-font-smoothing: antialiased; }

	/* ui */

	span.char_profile { display:inline-block; width:32px; height:32px; background:#eee; color:#333; font-size:13px; font-weight:bold; line-height:32px; text-align:center; }
		a:hover span.char_profile { color:#333; text-decoration:none; background:#f0f0f0; }

	ul.stories { list-style:none; padding:0; margin:0; margin-top:30px; }
		ul.stories li.empty { color: #bbb; text-align: center; }
		ul.stories li.more { text-align:center; }
			ul.stories li.more a { display:block; line-height: 40px; background: #ddd; color: #666; box-shadow: 0px 1px 0px rgba(0,0,0,0.2); }
			ul.stories li.more a:hover { text-decoration:none; background: #e4e4e4; }
			ul.stories li.more a:active { background:#ccc; box-shadow:inset 0px 1px 0px rgba(0,0,0,0.2); }

		ul.stories li.story { background:#f8f8f8; position:relative; border-bottom:1px solid #eee; }
		ul.stories li.story a.link { position:absolute; display:block; left:0; top:0; right:0; bottom:0; }
		ul.stories li.story a.link:hover { background:rgba(0,0,0,0.1); }
		
		ul.stories li.story .info { padding:20px; padding-top:30px; padding-bottom:30px; }

		ul.stories li.story h3 { font-size:20px; font-weight:bold; }
			ul.stories li.story h3 a { color:#333; }
			ul.stories li.story h3 .draft { font-weight:normal; }

		ul.stories li.story p { color:#999; margin-top:10px; margin-bottom:0; }

		ul.stories li.story h3 .date { font-weight:normal; color:#999; font-size:13px; }

		ul.stories li.story span.author { position:absolute; top:26px; right:20px; width:32px; height:32px; overflow:hidden; box-shadow:0px 1px 0px rgba(0,0,0,0.1); border-radius:5px; }
		ul.stories li.story span.author img { width:32px; }
		ul.stories li.story span.author a { display:inline-block; }

		ul.stories li.story .cover_background { width:100%; height:100%; background:#000; background-repeat:no-repeat; background-size:cover; }
			ul.stories li.story .cover_background .info { background:rgba(0,0,0,0.5); }

		ul.stories li.story.have_cover { padding-bottom:0; border-bottom:0; }
			ul.stories li.story.have_cover h3 { color:#fff; }
			ul.stories li.story.have_cover h3 a { color:#fff; }
			ul.stories li.story.have_cover p { color:#eee; margin-bottom:0; }
			ul.stories li.story.have_cover span.author { }
			ul.stories li.story.have_cover .draft_icon { color:#fff; }

		ul.stories li.story.is_not_publish { background-color:#f4f4f4; /*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+CjxyZWN0IHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9IiNmNGY0ZjQiPjwvcmVjdD4KPHJlY3QgeD0iMTAiIHk9IjEwIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9IiNmNGY0ZjQiPjwvcmVjdD4KPC9zdmc+");*/ }
