    
    .story-wrap {}

    .story-menu {}
        .story-menu h3 { color:#aaa; font-size:14px; font-weight:bold; }
        
    .story-content { position:relative; }
    
    .text-center { text-align:center; }
    
    .story-content-wrap { font-size:16px; }

    .facebook_wrap { position:relative; margin-top:40px; padding-top:40px;  text-align:right; }
        .facebook_wrap .permalink_view { position:absolute; font-style:italic; color:#aaa; }
        .facebook_wrap hr { position:absolute; width:60px; border-top:4px solid #ddd; border-bottom:0; left:50%; top:0; margin:0; margin-left:-30px; }

    .facebook_comments_wrap { margin-top:28px; }

    .stories_by_user_wrap { border-top:1px solid #eee; margin-top:40px; }
        .stories_by_user_wrap ul.stories li.story { float:left; width:50%; height:112px; }
        .stories_by_user_wrap ul.stories li.story:nth-child(odd) { border-right:1px solid #eee; }

        .stories_by_user_wrap ul.stories li.story .info { height:112px; }
        .stories_by_user_wrap ul.stories li.story p { margin-right:40px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

    @media (max-width: 920px) {     

    }    

    @media (max-width: 767px) {    	
    	.story-header { margin-top: 64px; }	
	    	.story-header h1 { margin-top:0px; font-size: 22px; }
    	
        .stories_by_user_wrap ul.stories li.story { width:100%; }
        .facebook_wrap { text-align:center; }
        .facebook_wrap .permalink_view { position:inherit; margin-bottom:20px; }
    }

    @media (max-width: 630px) {     
    }

    @media all and (-webkit-min-device-pixel-ratio: 1.5) {        
        .have-cover .story-header .story-header-background { background-attachment:scroll; background-size:cover; }
    }
